* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #333;
}

#submit {
  border: 0px;
  padding: 2px 15px;
  background-color: #267660;
}

table {
  background-color: rgba(0, 255, 170, 0.3);
  border-radius: 5px;
}

td {
  border-radius: 2px;
}

input {
  display: block;
  margin: 5px;
}

header {

}
