* {
  font-family: 'Slabo 13px', serif;
  /*outline: 1px dotted orange;*/
}

body {
  background-color: #fff;
}

/*header section*/
header {
  height: 175px;
  width: 960px;
  margin: 0px auto;
  font-family: 'Skranji', cursive;
}

h1 {
  position: relative;
  bottom: 90px;
  left: 227px;
  font-size: 3em;
  color: #6e1600;
  margin-bottom: 11px;
  width: 500px;
}

.topfish {
  width: 49%;
  background-color: #fff;
}

.link {
  background-color: #6e1600;
  text-decoration: none;
  color: #fff;
  position: relative;
  bottom: 80px;
  left: 100px;
  padding: 5px 10px;
  border-radius: 3px;
}

/*main body section*/
main {
  width: 960px;
  margin: 0px auto;
  background-color: #888;
  padding: 10px;
}

li {
  display: inline;
}

h2 {
  display: inline;
  color: #014230;
  font-family: 'Skranji', cursive;
  font-size: 24px;
  margin: 10px auto;
}

p {
  padding: 30px;
  border-radius: 3px;
  line-height: 1.25em;
}

/*index page main*/
span {
  color: #6e1600;
}

.fishcookie {
  margin-top: 25px;
  height: 200px;
  display: inline;
}

.fishcookie li {
  width: 50px;
  margin: 0px 50px;
}

.fishcookie h2 {
  margin-left: 285px;
}

#family {
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

#fish {
  margin-right: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#cookie {
  margin-bottom: 20px;
}

#fishtocookie {
  clear: left;
}

#store {
  margin-left: 325px;
}

/*sales page main*/
input {
  display: block;
  margin: 5px;
  width: 200px;
  padding: 2px;
}

table {
  background-color: #267660;
  border-radius: 3px;
  margin: 0px auto;
  padding-left: 10px;
  line-height: 1.5em;
}

th {
  margin: 2px 10px;
  border: 1px dotted #000;
  border-radius: 3px;
}

td {
  border: 1px dotted #888;
  border-radius: 3px;
}

.bar {
  width: 25%;
  margin-left: 40px;
  height: 250px;
}

#cookie_form {
  color: #6e1600;
  background-color: #bbb;
  width: 300px;
  padding: 20px;
  margin: 0px auto;
  margin-bottom: 10px;
  border-radius: 3px;
}

#submit {
  border: none;
  border-radius: 2px;
  font-size: 1em;
  padding: 10px 15px;
  background-color: #267660;
  margin: 20px auto;
}

#bar {
  width: 100%;
  padding-left: 40px;
  margin-top: 30px;
}

/*footer section*/
footer {
  height: 30px;
  width: 980px;
  background-color: #6e1600;
  margin: 0px auto;
}

h3 {
  font-family: 'Slabo 13px', serif;
  margin: 5px auto;
}
